@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-400.woff") format("woff"), url("../fonts/Kanit-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-400.woff") format("woff"), url("../fonts/Kanit-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-500.woff") format("woff"), url("../fonts/Kanit-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-500.woff") format("woff"), url("../fonts/Kanit-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-600.woff") format("woff"), url("../fonts/Kanit-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-700.woff") format("woff"), url("../fonts/Kanit-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-600.woff") format("woff"), url("../fonts/Kanit-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Kanit';
	font-display: swap;
	src: url("../fonts/Kanit-700.woff") format("woff"), url("../fonts/Kanit-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
