// ! Media mixin sizes
// Різні девайси

$sizes: (
	"xs": 576px,
	"sm": 767px,
	"md": 992px,
	"lg": 1200px,
	"xl": 1400px
);

$xs: 576px;
$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

// Типографіка
$font-family: "Kanit";
$font-size: 16px;
$line-height: 1.5;
$color: #000000;

// Кольори
$main_color: #080707;
$primary-color: #cb10bf;
$secondary-color: #b4b4b4;
$white_color: #ffffff;
$black_color: #000000;

$blueGardient: linear-gradient(110deg, #a9cef4 14.61%, #ecb9e9 85.98%);

// Розміщення блоків
$container-width: 1200px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
// Анімація
$transition-duration: 0.3s;
$hover-transition: all $transition-duration ease-in-out;

$breakpoints: (
	small: 320px,
	medium: 768px,
	large: 1024px,
	xlarge: 1366px
);

$base-font-size: 16px;
$ems: 1em;
$rems: 1rem;
